<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Laboratorio</title>
	<%- include('imports/imports.ejs') %>
</head>
<body>
	<header>
		<%- include('parcial/nav', {logo: false,titulo: true, value: 'Laboratorio', menu:false}) %>
	</header>
	<main>
		<%- include('parcial/principal')%>
	</main>
	<footer></footer>
	
</body>
</html>