<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrativo</title>
    <%- include('imports/imports.ejs') %>
</head>
<body>
    <header>
        <%- include('parcial/nav',{logo:true,titulo:true,value:'Panel Administrativo',menu:false})  %>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c1 img-center">
                    <img src="images/user-icon.png" alt="" class="logo-s center">
                </div>
            </div>
            <div class="r">
                <div class="c2 f-column">
                    <input type="number" placeholder="Ingrese DNI" id="dni-paciente-search">
                    <button id="buscarPaciente">Buscar</button>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>