<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Paciente</title>
    <%- include('imports/imports.ejs') %>
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Datos Paciente', menu:false})%>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4" id="datos-paciente">
                    <div class="r">
                        <div class="c4">
                            <h1>Nombre</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>