<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Personal</title>
    <%- include('imports/imports.ejs') %>
</head>
<body>
    <header>
        <%- include('parcial/nav',{logo:true,titulo:true,menu:false,value:""}) %>
    </header>
    <main>
        <div class="tContainer">
			<div class="r">
				<div class="c2">
					<img src="/images/laboratorio.png" alt="" class="logo-l">
				</div>
				<div class="c2" id="frm-personal">
					<div class="r center">
                        
				
    <h1>Restablecer Contraseña</h1>
    <form action="/usuario/request-reset-password" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <div class="r center">
						<div class="c3 f-column ">
  <button type="submit" id="sub">Submit</button>
                            </div>
                        </div>
    </form>

</div>
</div>
</div>
</main>
<footer></footer>
<script>
    document.getElementById('sub').addEventListener('click', ()=>{
  alert('Correo enviado con éxito');
    })
  
  </script>
</body>
</html>
