<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Nueva Persona</title>
    <%- include('imports/imports') %>
    
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Registrar paciente', menu:false})%>
    </header>
    <main>
        <div class="tContainer">
<div class="r">
             <h1>Formulario de Usuario</h1>
           
</div>
            <div class="r">
                
   
               
                    
                       

 
    <form id="frm-crear-usuario">
        <label for="dni">DNI:</label>
        <input type="number" id="dni" name="dni" ><br><br>

        <label for="clave">Clave:</label>
        <input type="password" id="clave" name="clave" ><br><br>

        <label for="rol">Rol:</label><br>
       
        <select id="rol" style="width: 200px; font-size: 15px">
            <option  selected disabled>Elegir un rol</option>
            <option value="Gerente">Gerente</option>
            <option value="Administrador">Administrador</option>
            <option value="Tecnico">Técnico</option>
            <option value="Bioquimico">Bioquímico</option>
            <option value="Paciente">Paciente</option>
     </select> <br><br><br><br><br><br>

        

        <button type="submit">Guardar Usuario</button>
    </form>



</div>
</div>
</main>


<script type="module" src="/js/usuarioLogin.js"></script>
</body>
</html>
