<div class="c1 f-row">
	<% if(logo) {%>
		<img src="/images/logotipo-chico.png" alt="" class="logo-nav">	
	<%}%>
	
</div>
<div class="c2">
	<%if(titulo){%>
		<h1><%= value %></h1>
	<%}%>
	
</div>
<div class="c1">
	<% if(menu){%>
		<h1>menu</h1>
	<%}%>
	
</div>