<div class="tContainer">
	<div class="r">
		<div class="c1 img-center">
			<img src="images/logotipo1.png" alt="" class="logo-s">
		</div>
	</div>
	<div class="r">
		<div class="c2 op-home" id="accesoPersonal">
			<a href="/portal-personal"><img src="images/op-personal.jpg" alt="" class="op-img"></a>
			<div>Personal</div>
		</div>
		<div class="c2 op-home" id="accesoPaciente">
			<a href="/portal-paciente"><img src="images/op-paciente.jpg" alt="" class="op-img"></a>
			<div>Paciente</div>
		</div>
	</div>
</div>